
@{
    ViewBag.Title = "Ahorros";
}
<div class="alrazy-title title-alumno" data-splitting>Mi Cartera</div>
<script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
<script>Splitting();</script>
<br />

