
@{
    ViewBag.Title = "Eventos";
}
<div class="alrazy-title title-Alumno" data-splitting>Eventos</div>
<script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
<script>Splitting();</script>
<br />

<div class="container body-content">
    <div class="container">
        <div class="row portafolio" style="border-bottom: 5px solid #22bb33;">

            <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                <div class="card">
                    <img class="card-img-top" src="~/img/Eventos/MicrosoftTeams-image.png" />
                    <div class="card-block">
                        <h4 class="card-title mt-3">Torneo Regional de Taekwondo</h4>
                        <div class="meta">
                            <a class="text-primary">13 de Mayo</a>
                        </div>
                        <div class="card-text">
                            Torneo Regional de Taekwon Do ITF Región de Coquimbo
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-primary">Evento subido hace 3 horas</small>
                        <button class="btn btn-success float-right btn-sm">Inscribirse | <i class="fas fa-user-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                <div class="card" style="margin-bottom: 10%;">
                    <img class="card-img-top" src="~/img/Eventos/MicrosoftTeams-image.png" />
                    <div class="card-block">
                        <h4 class="card-title mt-3">Torneo Regional de Taekwondo</h4>
                        <div class="meta">
                            <a class="text-primary">13 de Mayo</a>
                        </div>
                        <div class="card-text">
                            Torneo Regional de Taekwon Do ITF Región de Coquimbo
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-primary">Evento subido hace 3 horas</small>
                        <button class="btn btn-success float-right btn-sm">Inscribirse | <i class="fas fa-user-plus"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 mt-4">
                <div class="card">
                    <img class="card-img-top" src="~/img/Eventos/MicrosoftTeams-image.png" />
                    <div class="card-block">
                        <h4 class="card-title mt-3">Torneo Regional de Taekwondo</h4>
                        <div class="meta">
                            <a class="text-primary">13 de Mayo</a>
                        </div>
                        <div class="card-text">
                            Torneo Regional de Taekwon Do ITF Región de Coquimbo
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-primary">Evento subido hace 3 horas</small>
                        <button class="btn btn-success float-right btn-sm">Inscribirse | <i class="fas fa-user-plus"></i></button>
                    </div>
                </div>
            </div>


        </div>

    </div>
    <br />
</div>

