
@{
    ViewBag.Title = "MiProgresion";
}

<link href="~/plugins/noty/lib/noty.css" rel="stylesheet" />
<link href="~/plugins/noty/lib/themes/relax.css" rel="stylesheet" />
<link href="~/plugins/noty/lib/themes/sunset.css" rel="stylesheet" />
<link href="~/plugins/swal/sweetalert2.css" rel="stylesheet" />

<div class="alrazy-title title-Alumno" data-splitting>
    Mi Progresión
</div>
<script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
<script>Splitting();</script>
<br />


<div>
    <div class="row" style="border-bottom:5px solid #009900 !important">
        <table class="table table table-hover table-bordered  text-center">
            <!-- responsive sirve para ajutar la tabla segun el dispositivo -->
            <thead>
                <!-- Encabezado de tabla -->
                <tr class="table bg-success text-white">
                    <th>Id</th>
                    <th>Alumno</th>
                    <th>Grado</th>
                    <th>Forma</th>
                    <th>Fecha</th>
                    @*<th>Ataque</th>*@
                    <th>Defensa personal</th>
                    <th>Ejercicios F.F.F</th>
                    <th>Rutura</th>
                    <th>Teoria</th>
                </tr>
            </thead>
            <tbody id="TbodyProgresiones">
            </tbody>



        </table>
    </div>




</div>



<script src="~/js/Alumno/Progresion.js"></script>