
@{
    ViewBag.Title = "MiProgresion";
}


<div class="alrazy-title title-Alumno" data-splitting>
    Mi Progresión
</div>
<script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
<script>Splitting();</script>
<br />


<div>
    <div class="row" style="border-bottom:5px solid #009900 !important">
        <table class="table table table-hover table-bordered  text-center">
            <!-- responsive sirve para ajutar la tabla segun el dispositivo -->
            <thead>
                <!-- Encabezado de tabla -->
                <tr class="table bg-success text-white">
                    <th>Id</th>
                    <th>Alumno</th>
                    <th>Grado</th>
                    <th>Forma</th>
                    <th>Fecha</th>
                    <th>Tipo movimiento</th>
                    <th>Descripción</th>
                    <th>Ejercicios F.F.F</th>
                    <th>Rutura</th>
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tr>
                <td>12316556-8</td>
                <td>Diego <img src="/img/foto.jpg" width="30" height="30" class="rounded-circle img-fluid" alt=""></td>
                <td>Fernandez</td>
                <td>20/05/1990</td>
                <td>Masculino</td>
                <td>Masculino</td>
                <td>Masculino</td>
                <td>Masculino</td>
                <td>Masculino</td>
                <td colspan="3">
                    <button class="btn btn-sm btn-success" title="Ver"><i class="fa fa-eye"></i></button>
                </td>
            </tr>



        </table>
    </div>
    



</div>



