
@{
    ViewBag.Title = "Alumnos";
}

<nav class="navbar navbar-expand-lg navbar-light text-center" style="background-color: white;">


    <div class="collapse navbar-collapse text-center" id="navbarColor03">
        <ul class="navbar-nav mr-auto" style="font-size:22px;font-weight: bold">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-home"></i> Home |</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#"><i class="fas fa-user"></i> Mis alumnos |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-shopping-basket"></i> Mis productos |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-shipping-fast"></i> Pedidos |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-calendar-alt"></i> Torneos internos |</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-money-bill-wave"></i> Mensualidades </a>
            </li>
        </ul>
        @*<form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
            </form>*@
    </div>
</nav>
<div class="alrazy-title" data-splitting>
    Mi lista de alumnos
</div>
<script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
<script>Splitting();</script>
<br />


<div>
    <div class="row">
        <table class="table table-sm table-hover table-bordered table-responsive-lg text-center">
            <!-- responsive sirve para ajutar la tabla segun el dispositivo -->
            <thead>
                <!-- Encabezado de tabla -->
                <tr class="table bg-primary text-white">
                    <th>Rut Alumno</th>
                    <th>Nombre</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Correo Electronico</th>
                    <th>Dirección</th>
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tr>
                <td>12316556-8</td>
                <td>Diego <img src="/img/foto.jpg" width="30" height="30" class="rounded-circle img-fluid" alt=""></td>
                <td>Fernandez</td>
                <td>20/05/1990</td>
                <td>Masculino</td>
                <td colspan="3">
                    <button class="btn btn-sm btn-primary" title="Ver"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-sm btn-info" title="Editar"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-sm btn-danger" title="Borrar"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>12316556-8</td>
                <td>Diego <img src="/img/foto.jpg" width="30" height="30" class="rounded-circle img-fluid" alt=""></td>
                <td>Fernandez</td>
                <td>20/05/1990</td>
                <td>Masculino</td>
                <td colspan="3">
                    <button class="btn btn-sm btn-primary" title="Ver"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-sm btn-info" title="Editar"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-sm btn-danger" title="Borrar"><i class="fas fa-trash"></i></button>
                </td>

            </tr>


        </table>
    </div>
    <div class="text-center" style="margin-bottom:50px">
        
    </div>



</div>



<style>
    @@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

    html, body {
        background: #fff;
        font-family: Calibri;
        color: #007bff;
    }

    html {
        height: 100%;
        display: flex;
    }

    body {
        margin: auto;
    }

    .alrazy-title {
        font-family: 'Open Sans', Helvetica, sans-serif;
        font-weight: 700;
        font-size: 30px;
        font-size: 30px;
        position: relative;
        padding: 0.4em 0;
        overflow: hidden;
    }

        .alrazy-title:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-bottom: solid 0.2em;
            -webkit-animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
            animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

    @@-webkit-keyframes underline {
        from {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
        }
    }

    @@keyframes underline {
        from {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
        }
    }

    .alrazy-title .word {
        display: inline-block;
        -webkit-animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
        animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-delay: calc( .5s + (.1s * var(--word-index)) );
        animation-delay: calc( .5s + (.1s * var(--word-index)) );
    }

    @@-webkit-keyframes slide-up {
        from {
            -webkit-transform: translateY(125%);
            transform: translateY(125%);
        }
    }

    @@keyframes slide-up {
        from {
            -webkit-transform: translateY(125%);
            transform: translateY(125%);
        }
    }

    .splitting-mark {
        color: #FFF !important;
    }
</style>
