
@{
    ViewBag.Title = "Alumnos";
}

<div class="alrazy-title" data-splitting>
    Mi lista de alumnos
</div>
<script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
<script>Splitting();</script>
<br />

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 col-md-offset-2">
            <div class="card">
                <div class="card-body d-flex justify-content-between align-items-center">
                    Agregar alumno
                    <button type="button" title="Agregar pago" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar alumno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Rut</label>
                        <p><input type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <label>Nombres</label>
                        <p><input type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Apellido paterno</label>
                        <p><input type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Apellido materno</label>
                        <p><input type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Fecha nacimiento</label>
                        <p><input type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Genero</label>
                        <p>
                            <select class="form-control">
                                <option value="0">--Seleccione--</option>
                                <option value="1">Masculino</option>
                                <option value="2">Femenino</option>
                                <option value="3">Otro</option>
                            </select>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <label>Nombre usuario</label>
                        <p><input type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Correo electronico</label>
                        <p><input type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Telefono</label>
                        <p><input type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label for="txtTelefonoContacto">Telefono contácto</label>
                        <p><input type="text" class="form-control" id="txtTelefonoContacto" /></p>
                    </div>
                    <div class="col-md-6">
                        <label for="txtDireccion">Direccion</label>
                        <p><input type="text" class="form-control" id="txtDireccion" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Academia anterior</label>
                        <p>
                            <select class="form-control">
                                <option value="0">--Seleccione--</option>
                            </select>
                        </p>
                    </div>
                   
                </div>
                
                
                
                
                
                
                
                
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <table class="table table-sm table-hover table-bordered table-responsive-lg text-center">
            <!-- responsive sirve para ajutar la tabla segun el dispositivo -->
            <thead>
                <!-- Encabezado de tabla -->
                <tr class="table bg-primary text-white">
                    <th>Rut Alumno</th>
                    <th>Nombre</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Correo Electronico</th>
                    <th>Dirección</th>
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tr>
                <td>12316556-8</td>
                <td>Diego <img src="/img/foto.jpg" width="30" height="30" class="rounded-circle img-fluid" alt=""></td>
                <td>Fernandez</td>
                <td>20/05/1990</td>
                <td>Masculino</td>
                <td colspan="3">
                    <button class="btn btn-sm btn-primary" title="Ver"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-sm btn-info" title="Editar"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-sm btn-danger" title="Borrar"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
            <tr>
                <td>12316556-8</td>
                <td>Diego <img src="/img/foto.jpg" width="30" height="30" class="rounded-circle img-fluid" alt=""></td>
                <td>Fernandez</td>
                <td>20/05/1990</td>
                <td>Masculino</td>
                <td colspan="3">
                    <button class="btn btn-sm btn-primary" title="Ver"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-sm btn-info" title="Editar"><i class="fa fa-edit"></i></button>
                    <button class="btn btn-sm btn-danger" title="Borrar"><i class="fas fa-trash"></i></button>
                </td>

            </tr>


        </table>
    </div>
    <div class="text-center" style="margin-bottom:50px">

    </div>



</div>



<style>
    @@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

    html, body {
        background: #fff;
        font-family: Calibri;
        color: #007bff;
    }

    html {
        height: 100%;
        display: flex;
    }

    body {
        margin: auto;
    }

    .alrazy-title {
        font-family: 'Open Sans', Helvetica, sans-serif;
        font-weight: 700;
        font-size: 30px;
        font-size: 30px;
        position: relative;
        padding: 0.4em 0;
        overflow: hidden;
    }

        .alrazy-title:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-bottom: solid 0.2em;
            -webkit-animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
            animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

    @@-webkit-keyframes underline {
        from {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
        }
    }

    @@keyframes underline {
        from {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
        }
    }

    .alrazy-title .word {
        display: inline-block;
        -webkit-animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
        animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-delay: calc( .5s + (.1s * var(--word-index)) );
        animation-delay: calc( .5s + (.1s * var(--word-index)) );
    }

    @@-webkit-keyframes slide-up {
        from {
            -webkit-transform: translateY(125%);
            transform: translateY(125%);
        }
    }

    @@keyframes slide-up {
        from {
            -webkit-transform: translateY(125%);
            transform: translateY(125%);
        }
    }

    .splitting-mark {
        color: #FFF !important;
    }
</style>
