
@{
    ViewBag.Title = "Alumnos";
}

<link href="~/plugins/noty/lib/noty.css" rel="stylesheet" />
<link href="~/plugins/noty/lib/themes/relax.css" rel="stylesheet" />
<link href="~/plugins/noty/lib/themes/sunset.css" rel="stylesheet" />
<link href="~/plugins/swal/sweetalert2.css" rel="stylesheet" />


<div class="container">


    <div class="alrazy-title title-maestro" data-splitting>
        Mi lista de alumnos
    </div>
    <script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
    <script>Splitting();</script>
    <br />


    <div class="row justify-content-center">

        <div class="col-md-6 col-md-offset-2">
            <div class="card">
                <div class="card-body d-flex justify-content-between align-items-center">
                    Agregar alumno
                    <button type="button" title="Agregar Alumno" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <div class="card">
                <div class="card-body d-flex justify-content-between align-items-center">
                    Comprobar alumno
                    <input type="text" id="RutComprobar" />
                    <button type="button" id="AbrirComprobacion" title="Comprobar Alumno" class="btn btn-outline-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar alumno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Rut</label>
                        <p><input id="AddRut" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <label>Nombres</label>
                        <p><input id="AddNombres" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Apellido paterno</label>
                        <p><input id="AddPaterno" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Apellido materno</label>
                        <p><input id="AddMaterno" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Fecha nacimiento</label>
                        <p><input id="AddFechaNac" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Genero</label>
                        <p>
                            <select id="AddGenero" class="form-control">
                                <option value="0">--Seleccione--</option>
                            </select>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <label>Nombre usuario</label>
                        <p><input id="AddNombreUsuario" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Correo electronico</label>
                        <p><input id="AddCorreo" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Telefono</label>
                        <p><input id="AddTelefono" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label for="AddTelefonoContacto">Telefono contácto</label>
                        <p><input type="text" class="form-control" id="AddTelefonoContacto" /></p>
                    </div>
                    <div class="col-md-6">
                        <label for="AddDireccion">Direccion</label>
                        <p><input type="text" class="form-control" id="AddDireccion" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Academia</label>
                        <p>
                            <select id="AddAcademia" class="form-control">
                                <option value="0">--Seleccione--</option>
                            </select>
                        </p>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" id="AgregarAlumno" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="VerAlumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle alumno <label style="font-weight:bold" id="AlumnoNombre"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Rut</label>
                        <p><input id="RutVer" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <label>Nombres</label>
                        <p><input id="NombresVer" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Apellido paterno</label>
                        <p><input id="PaternoVer" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Apellido materno</label>
                        <p><input id="MaternoVer" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Fecha nacimiento</label>
                        <p><input id="FechaNacVer" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Genero</label>
                        <p>
                            <select id="GeneroVer" class="form-control">
                                <option value="0">--Seleccione--</option>
                                <option value="1">Masculino</option>
                                <option value="2">Femenino</option>
                            </select>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <label>Correo electronico</label>
                        <p><input id="CorreoVer" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label>Telefono</label>
                        <p><input id="TelefonoVer" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label for="TelefonoContacto">Telefono contácto</label>
                        <p><input id="TelefonoContactoVer" type="text" class="form-control" /></p>
                    </div>
                    <div class="col-md-6">
                        <label for="DireccionVer">Direccion</label>
                        <p><input type="text" class="form-control" id="DireccionVer" /></p>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="GuardarAlumno">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="TransferirAlumno" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalle alumno <label style="font-weight:bold" id="AlumnoNombre"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Transferir a Academia: </label>
                        <select class="form-control" id="AcademiaTrasferencia">
                            <option value="0">--Seleccione--</option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="ButtonTransferir">Tranferir</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DatosPersonal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Datos técnicos <label style="font-weight:bold" id="AlumnoNombreTecnico"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <label>Grado: </label>
                        <select class="form-control" id="Grado">
                            <option value="0">--Seleccione--</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Peso: </label>
                        <input id="Peso" type="text" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label>Estatura: </label>
                        <input id="Estatura" type="text" class="form-control" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="ButtonGuardarTecnicos">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalComprobar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Información alumno <label style="font-weight:bold" id="AlumnoNombreTecnico"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="container">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>NOMBRE</th>
                                    <th>PROFESOR ANTERIOR</th>
                                    <th>ACADEMIA ANTERIOR</th>
                                    <th>CINTURÓN</th>
                                </tr>
                            </thead>
                            <tbody id="TbodyDatosAnteriores">
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalExamen" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Agregar examen <label style="font-weight:bold" id="AlumnoNombreTecnico"></label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Nombre examen</label>
                                <input type="text" id="NombreExamenAdd" class="form-control" />
                            </div>
                            <div class="col-lg-6">
                                <label>Grado</label>
                                <select type="text" id="GradoExamenAdd" class="form-control" >
                                    <option value="0">--Seleccione--</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Forma</label>
                                <select type="text" id="FormaExamenAdd" class="form-control" >
                                    <option>--Seleccione--</option>
                                </select>
                            </div>
                            <div class="col-lg-6">
                                <label>Ejercicios f_f_f</label>
                                <input type="text" id="EjerciciosfffAdd" class="form-control" />
                            </div>
                            <div class="col-lg-6">
                                <label>Ataque</label>
                                <input type="text" id="AtaqueAdd" class="form-control" />
                            </div>
                            <div class="col-lg-6">
                                <label>Defensa personal</label>
                                <input type="text" id="DefensaPersonalAdd" class="form-control" />
                            </div>
                            <div class="col-lg-6">
                                <label>Rotura</label>
                                <input type="text" id="RoturaAdd" class="form-control" />
                            </div>
                            <div class="col-lg-6">
                                <label>Teoria</label>
                                <input type="text" id="TeoriaAdd" class="form-control" />
                            </div>
                            <div class="col-lg-6">
                                <label>Fecha realización</label>
                                <input type="text" id="FechaRealizacionAdd" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="ExamenRealizados" class="btn btn-info" data-dismiss="modal">Guardar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>






<div>
    <div class="row" style="margin-top:3%;border-bottom:solid 5px #007bff">
        <table class="table table-sm table-hover table-bordered table-responsive-lg text-center">
            <!-- responsive sirve para ajutar la tabla segun el dispositivo -->
            <thead>
                <!-- Encabezado de tabla -->
                <tr class="table bg-primary text-white">
                    <th>Rut Alumno</th>
                    <th>Nombre</th>
                    <th>Fecha de Nacimiento</th>
                    <th>Correo Electronico</th>
                    <th>Dirección</th>
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody id="TbodyAlumnos">
            </tbody>
            @*<tfoot>
                     Encabezado de tabla
                    <tr class="table bg-primary text-white">
                        <th>Rut Alumno</th>
                        <th>Nombre</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Correo Electronico</th>
                        <th>Dirección</th>
                        <th colspan="3">Acciones</th>
                    </tr>
                </tfoot>*@

        </table>
    </div>
    <div class="text-center" style="margin-bottom:50px">

    </div>



</div>

<script src="~/plugins/noty/lib/bounce.min.js"></script>
<script src="~/plugins/swal/sweetalert2.min.js"></script>
<script src="~/plugins/swal/sweetalert2.init.js"></script>
<script src="~/plugins/noty/lib/noty.js"></script>

<script src="~/js/Maestro/Alumnos.js"></script>


@section scripts{

    <script>
        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '< Ant',
            nextText: 'Sig >',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'dd/mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };

        $.datepicker.setDefaults($.datepicker.regional['es']);



        $('#FechaRealizacionAdd').datepicker({
            format: 'yyyy-mm-dd',
            orientation: "auto left",
            forceParse: false,
            autoclose: true,
            todayHighlight: true,
            toggleActive: true,
            endDate: '0',
        });
    </script>
}



