
@{

    ViewBag.Title = "Mensualidades";
}

<link href="~/plugins/noty/lib/noty.css" rel="stylesheet" />
<link href="~/plugins/noty/lib/themes/relax.css" rel="stylesheet" />
<link href="~/plugins/noty/lib/themes/sunset.css" rel="stylesheet" />
<link href="~/plugins/swal/sweetalert2.css" rel="stylesheet" />

<style>
    ul.ui-autocomplete {
        z-index: 9090909090;
    }
</style>


<div class="alrazy-title title-maestro" data-splitting>
    Mensualidades
</div>
<script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
<script>Splitting();</script>
<br />

<div>
    <div class="row">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-md-offset-2">
                    <div class="card">
                        <div class="card-body d-flex justify-content-between align-items-center">
                            Agregar pago
                            <button type="button" title="Agregar pago" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
        </div>

        <table class="table table-sm table-hover table-bordered table-responsive-lg text-center">
            <!-- responsive sirve para ajutar la tabla segun el dispositivo -->
            <thead>
                <!-- Encabezado de tabla -->
                <tr class="table bg-primary text-white">
                    <th>Alumno</th>
                    <th>Fecha pago</th>
                    <th>Periodo</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody id="tbodyPagos">

            </tbody>
            @*<tr>
                <td>12316556-8</td>
                <td>Diego <img src="/img/foto.jpg" width="30" height="30" class="rounded-circle img-fluid" alt=""></td>
                <td>Fernandez</td>
                <td>Mayo 2020</td>
                <td>Masculino</td>
                <td>Diego</td>
                <td colspan="3">
                    <button class="btn btn-sm btn-primary" title="Ver detalle pedido"><i class="fa fa-eye"></i></button>
                    <button class="btn btn-sm btn-info" title="Editar"><i class="fa fa-edit"></i></button>
                </td>

            </tr>*@


        </table>
    </div>



    <!--Modal agregar pago-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar nuevo pago</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <label>Alumno</label>
                    <div class="input-group">
                        <input type="text" id="RutCompletar" class="form-control">
                    </div>
                    <label>Mes</label>
                    <input class="form-control" id="Calendar" />
                    <label>Monto</label>
                    <input id="Monto" class="form-control" type="number" onkeyup="format(this)" onchange="format(this)" />
                    <label>Descripción</label>
                    <textarea id="Descripcion" style="resize:vertical;" class="form-control" placeholder="Descripción..." rows="6"></textarea>




                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="Agregar_pago" class="btn btn-primary">Agregar</button>
                </div>
            </div>
        </div>
    </div>


</div>

<style>
    @@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

    html, body {
        background: #fff;
        font-family: Calibri;
        color: #007bff;
    }

    html {
        height: 100%;
        display: flex;
    }

    body {
        margin: auto;
    }

    .alrazy-title {
        font-family: 'Open Sans', Helvetica, sans-serif;
        font-weight: 700;
        font-size: 30px;
        font-size: 30px;
        position: relative;
        padding: 0.4em 0;
        overflow: hidden;
    }

        .alrazy-title:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-bottom: solid 0.2em;
            -webkit-animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
            animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

    @@-webkit-keyframes underline {
        from {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
        }
    }

    @@keyframes underline {
        from {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
        }
    }

    .alrazy-title .word {
        display: inline-block;
        -webkit-animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
        animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-delay: calc( .5s + (.1s * var(--word-index)) );
        animation-delay: calc( .5s + (.1s * var(--word-index)) );
    }

    @@-webkit-keyframes slide-up {
        from {
            -webkit-transform: translateY(125%);
            transform: translateY(125%);
        }
    }

    @@keyframes slide-up {
        from {
            -webkit-transform: translateY(125%);
            transform: translateY(125%);
        }
    }

    .splitting-mark {
        color: #FFF !important;
    }
</style>



@section scripts{
    <script src="~/plugins/noty/lib/bounce.min.js"></script>
    <script src="~/plugins/swal/sweetalert2.min.js"></script>
    <script src="~/plugins/swal/sweetalert2.init.js"></script>
    <script src="~/plugins/noty/lib/noty.js"></script>

    <script src="~/js/Maestro/Mensualidades.js"></script>

    <script>
        $.datepicker.regional['es'] = {
            closeText: 'Cerrar',
            prevText: '< Ant',
            nextText: 'Sig >',
            currentText: 'Hoy',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
            weekHeader: 'Sm',
            dateFormat: 'mm/yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
        $.datepicker.setDefaults($.datepicker.regional['es']);
        $(function () {
            $("#Calendar").datepicker();
        });



        //$('#Calendar').datepicker({
        //    format: 'yyyy-mm-dd',
        //    orientation: "auto left",
        //    forceParse: false,
        //    autoclose: true,
        //    todayHighlight: true,
        //    toggleActive: true,
        //    endDate: '0',
        //});


    </script>
}


