
@{
    ViewBag.Title = "MisProductos";
}
<div class="alrazy-title" data-splitting>
    Mis productos
</div>
<script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
<script>Splitting();</script>
<br />
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Brands </h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <form>
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Mersedes Benz
                                </span>
                            </label> <!-- form-check.// -->
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Nissan Altima
                                </span>
                            </label>  <!-- form-check.// -->
                            <label class="form-check">
                                <input class="form-check-input" type="checkbox" value="">
                                <span class="form-check-label">
                                    Another Brand
                                </span>
                            </label>  <!-- form-check.// -->
                        </form>

                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- card-group-item.// -->

            <article class="card-group-item">
                <header class="card-header">
                    <h6 class="title">Choose type </h6>
                </header>
                <div class="filter-content">
                    <div class="card-body">
                        <label class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadio" value="">
                            <span class="form-check-label">
                                First hand items
                            </span>
                        </label>
                        <label class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadio" value="">
                            <span class="form-check-label">
                                Brand new items
                            </span>
                        </label>
                        <label class="form-check">
                            <input class="form-check-input" type="radio" name="exampleRadio" value="">
                            <span class="form-check-label">
                                Some other option
                            </span>
                        </label>
                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- card-group-item.// -->
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#" class="text-dark">Descripción producto...</a>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <div class="pull-left">
                            <a href="#" class="text-danger">1.900 clp</a>
                        </div>
                        <div style="text-align:right">
                            <button class="btn btn-sm btn-success"><i class="fas fa-shopping-cart"></i> agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#" class="text-dark">Descripción producto...</a>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <div class="pull-left">
                            <a href="#" class="text-danger">1.900 clp</a>
                        </div>
                        <div style="text-align:right">
                            <button class="btn btn-sm btn-success"><i class="fas fa-shopping-cart"></i> agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#" class="text-dark">Descripción producto...</a>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <div class="pull-left">
                            <a href="#" class="text-danger">1.900 clp</a>
                        </div>
                        <div style="text-align:right">
                            <button class="btn btn-sm btn-success"><i class="fas fa-shopping-cart"></i> agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#" class="text-dark">Descripción producto...</a>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <div class="pull-left">
                            <a href="#" class="text-danger">1.900 clp</a>
                        </div>
                        <div style="text-align:right">
                            <button class="btn btn-sm btn-success"><i class="fas fa-shopping-cart"></i> agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#" class="text-dark">Descripción producto...</a>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <div class="pull-left">
                            <a href="#" class="text-danger">1.900 clp</a>
                        </div>
                        <div style="text-align:right">
                            <button class="btn btn-sm btn-success"><i class="fas fa-shopping-cart"></i> agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="http://www.mihanmedia.ir/userfile/736708307-580x567.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="#" class="text-dark">Descripción producto...</a>
                        </h5>
                    </div>
                    <div class="card-footer">
                        <div class="pull-left">
                            <a href="#" class="text-danger">1.900 clp</a>
                        </div>
                        <div style="text-align:right">
                            <button class="btn btn-sm btn-success"><i class="fas fa-shopping-cart"></i> agregar al carrito</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        
    </div>

</div>
 <!-- card.// -->





<style>
    @@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

    html, body {
        background: #fff;
        font-family: Calibri;
        color: #007bff;
    }

    html {
        height: 100%;
        display: flex;
    }

    body {
        margin: auto;
    }

    .alrazy-title {
        font-family: 'Open Sans', Helvetica, sans-serif;
        font-weight: 700;
        font-size: 30px;
        font-size: 30px;
        position: relative;
        padding: 0.4em 0;
        overflow: hidden;
    }

        .alrazy-title:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-bottom: solid 0.2em;
            -webkit-animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
            animation: underline 1s cubic-bezier(0.8, 0, 0, 1);
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

    @@-webkit-keyframes underline {
        from {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
        }
    }

    @@keyframes underline {
        from {
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
        }
    }

    .alrazy-title .word {
        display: inline-block;
        -webkit-animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
        animation: slide-up 1.25s cubic-bezier(0.5, 0.2, 0, 1);
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-delay: calc( .5s + (.1s * var(--word-index)) );
        animation-delay: calc( .5s + (.1s * var(--word-index)) );
    }

    @@-webkit-keyframes slide-up {
        from {
            -webkit-transform: translateY(125%);
            transform: translateY(125%);
        }
    }

    @@keyframes slide-up {
        from {
            -webkit-transform: translateY(125%);
            transform: translateY(125%);
        }
    }

    .splitting-mark {
        color: #FFF !important;
    }
</style>