

@{
    ViewBag.Title = "Galeria";
}

<main>
    <div class="container">
        <!-- Seccion portafolio -->
        <div class="row portafolio">
            <div class="col">
                <h2 class="titulo">Galeria</h2>

                <div class="row" style="margin-top:1%">
                    <div class="row galeria justify-content-center">
                        <!-- Centrar en dispositivos moviles  -->
                        <div class="contenedor-imagen col-6 col-lg-4">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <img src="~/img/img-11.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                            </a>
                        </div>
                        <div class="contenedor-imagen col-12 col-lg-4">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <img src="~/img/img-22.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                            </a>
                        </div>
                        <div class="contenedor-imagen col-12 col-lg-4">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <img src="~/img/img-33.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                            </a>
                        </div>
                        <div class="contenedor-imagen col-6 col-lg-4">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <img src="~/img/img-44.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                            </a>
                        </div>
                        <div class="contenedor-imagen col-6 col-lg-4">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <img src="~/img/img-55.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                            </a>
                        </div>
                        <div class="contenedor-imagen col-6 col-lg-4">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <img src="~/img/img-66.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                            </a>
                        </div>
                        <div class="contenedor-imagen col-6 col-lg-4">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <img src="~/img/img-44.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                            </a>
                        </div>
                        <div class="contenedor-imagen col-6 col-lg-4">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <img src="~/img/img-22.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                            </a>
                        </div>
                        <div class="contenedor-imagen col-6 col-lg-4">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <img src="~/img/img-55.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                            </a>
                        </div>
                        <div class="contenedor-imagen col-6 col-lg-4">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <img src="~/img/img-44.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                            </a>
                        </div>
                        <div class="contenedor-imagen col-6 col-lg-4">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <img src="~/img/img-66.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                            </a>
                        </div>
                        <div class="contenedor-imagen col-6 col-lg-4">
                            <a href="#" data-toggle="modal" data-target="#modal">
                                <img src="~/img/img-22.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                            </a>
                        </div>
                        <!-- Ventana Modal -->
                        <div class="modal fade" id="modal">
                            <div class="modal-dialog d-flex justify-content-center align-items-center">
                                <div class="modal-content">
                                    <img src="img/img-1.jpg" alt="" id="imagen-modal" class="">
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</main>