
@{
    ViewBag.Title = "Reglamento";
}

    

<main>
    <div>
        <div class="row mt-3">
            <div class="col">
                <div id="accordion">
                    <!-- CARD #1 -->
                    <div class="card">
                        <div class="card-header" id="heading1">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                                    2013 – ITF REGLAMENTO CAMPEONATO MUNDIAL JUVENIL Y ADULTOS EN VIGOR DEL 1 DE ENERO ,2013
                                </button>
                            </h5>
                        </div>
                        <div id="collapse1" class="collapse show" arial-labelledby="heading1" data-parent="#accordion">
                            <div class="card-body">
                                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/2013-Reglamento-del-Campeonato-Mundial-Juvenil-y-Adultos-de-la-ITF-%C3%8Dndice.pdf">2013 Reglamento del Campeonato Mundial Juvenil y Adultos de la ITF – Índice</a>
                                <span class="badge badge-primary"><i class="fas fa-2x fa-file-pdf"></i></span>
                            </div>
                        </div>
                    </div>

                    <!-- CARD #2 -->
                    <div class="card">
                        <div class="card-header" id="heading2">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                                    2013 – ITF REGLAMENTO JUECES Y ÁRBITROS EN VIGOR DESDE EL 1 DE ENERO,2013
                                </button>
                            </h5>
                        </div>
                        <div id="collapse2" class="collapse" arial-labelledby="heading2" data-parent="#accordion">
                            <div class="card-body">
                                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/2013-Reglamento-del-Campeonato-Mundial-Juvenil-y-Adultos-de-la-ITF-%C3%8Dndice.pdf">2013 Reglamento del Campeonato Mundial Juvenil y Adultos de la ITF – Índice</a>
                                <span class="badge badge-primary"><i class="fas fa-2x fa-file-pdf"></i></span>
                            </div>
                        </div>
                    </div>

                    <!-- CARD #3 -->
                    <div class="card">
                        <div class="card-header" id="heading3">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                                    2017 – ITF REGLAMENTO ÁRBITROS APÉNDICES 1 A 9 ( FEBRERO 3, 2017)
                                </button>
                            </h5>
                        </div>
                        <div id="collapse3" class="collapse" arial-labelledby="heading3" data-parent="#accordion">
                            <div class="card-body">
                                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/2013-Reglamento-del-Campeonato-Mundial-Juvenil-y-Adultos-de-la-ITF-%C3%8Dndice.pdf">2013 Reglamento del Campeonato Mundial Juvenil y Adultos de la ITF – Índice</a>
                                <span class="badge badge-primary"><i class="fas fa-2x fa-file-pdf"></i></span>
                            </div>
                        </div>
                    </div>

                    <!-- CARD #4 -->
                    <div class="card">
                        <div class="card-header" id="heading4">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                    2019- ITF WORLD CHAMPIONSHIP APLICACIÓN PARA ÁRBITRO, INZELL, ALEMANIA
                                </button>
                            </h5>
                        </div>
                        <div id="collapse4" class="collapse" arial-labelledby="heading4" data-parent="#accordion">
                            <div class="card-body">
                                <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/2019-ITF-world-Championship-Umpire-Registration-Form-Inzell-Germany-Revised-2-.xls">2013 Reglamento del Campeonato Mundial Juvenil y Adultos de la ITF – Índice</a>
                                <span class="badge badge-primary"><i class="fas fa-2x fa-file-pdf"></i></span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>


        

    </main>