
@{
    ViewBag.Title = "Reglamento";
}

<main>
    <div class="titulo col-7 mx-auto "><h2>Reglamento</h2></div>
    <div class="parrafo col-7 mx-auto">
        <p>
            2013 – ITF REGLAMENTO CAMPEONATO MUNDIAL JUVENIL Y ADULTOS EN VIGOR DEL 1 DE ENERO ,2013
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/2013-Reglamento-del-Campeonato-Mundial-Juvenil-y-Adultos-de-la-ITF-%C3%8Dndice.pdf">2013 Reglamento del Campeonato Mundial Juvenil y Adultos de la ITF – Índice</a>
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/2013-Reglamento-del-Campeonato-Mundial-Juvenil-y-Adultos-de-la-ITF.pdf">2013 Reglamento del Campeonato Mundial Juvenil y Adultos de la ITF</a>
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Torneo-Mundial-ITF-Juveniles-Adultos-Reglas-y-Regulaciones-Aclaraci%C3%B3n-3-de-febrero-2017-1.pdf">Reglamento de Torneo Mundial ITF Juveniles Adultos – Reglas y Regulaciones Aclaración 3 de febrero 2017 (1)</a>
        </p>
        <p>
            2013 – ITF REGLAMENTO JUECES Y ÁRBITROS EN VIGOR DESDE EL 1 DE ENERO,2013
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/%C3%8Dndice-Reglamento-de-Jueces-y-%C3%81rbitros-de-la-ITF-%E2%80%93-Reglas-y-Regulaciones.pdf">Índice – Reglamento de Jueces y Árbitros de la ITF – Reglas y Regulaciones</a>
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-de-la-ITF-%E2%80%93-Reglas-y-Regulaciones-En-vigencia-a-partir-del-1%C2%BA-de-Enero-de-2013.pdf">Reglamento de Jueces y Árbitros de la ITF – Reglas y Regulaciones – En vigencia a partir del 1º de Enero de 2013</a>
        </p>
        <p>
            2017 – ITF REGLAMENTO ÁRBITROS APÉNDICES 1 A 9 ( FEBRERO 3, 2017)
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-1-Procedimiento-de-Puntuaci%C3%B3n-3-de-febrero-2017.pdf">Reglamento Jueces y Árbitros ITF -Apéndice 1 – Procedimiento de Puntuación 3 de febrero 2017</a>
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-2-Vestimenta-Aprobada-ITF-3-de-febrero-2017.pdf">Reglamento de Jueces y Árbitros ITF -Apéndice 2 – Vestimenta Aprobada ITF 3 de febrero 2017</a>
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-Y-%C3%81rbitros-ITF-Ap%C3%A9ndice-3-Se%C3%B1ales-de-MAnos-Oficiales-3-Febrero-2017.pdf">Reglamento de Jueces Y Árbitros ITF, Apéndice 3- Señales de Manos Oficiales 3 Febrero 2017</a>
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-4-Garant%C3%ADa-AN-3-de-febrero-2017.pdf">Reglamento Jueces y Árbitros ITF- Apéndice 4 – Garantía AN 3 de febrero 2017</a>
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-5-Aprobaci%C3%B3n-de-Patrocinio-3-de-febrero-2017.pdf">Reglamento de Jueces y Árbitros ITF-Apéndice 5 – Aprobación de Patrocinio 3 de febrero 2017</a>
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-6-Tablas-y-Alturas-3-de-febrero-2017.pdf">Reglamento de Jueces y Árbitros ITF-Apéndice 6 – Tablas y Alturas – 3 de febrero 2017</a>
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-7-Glosario-de-T%C3%A9rminos-19-de-abril-2017.pdf">Reglamento de Jueces y Árbitros ITF Apéndice 7 – Glosario de Términos 19 de abril 2017</a>
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-8-ITF-Equipamiento-Aprobado-3-de-febrero-2017.pdf">Reglamento de Jueces y Árbitros ITF- Apéndice 8 – ITF Equipamiento Aprobado 3 de febrero 2017</a>
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-9-Salud-y-Seguridad-3-de-febrero-2017.pdf">Reglamento de Jueces y Árbitros ITF – Apéndice 9 – Salud y Seguridad 3 de febrero 2017</a>
        </p>
        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/Reglamento-de-Jueces-y-%C3%81rbitros-ITF-Ap%C3%A9ndice-10-Protocolos-de-Pesaje-19-de-abril-de-2017.pdf">Reglamento de Jueces y Árbitros ITF Apéndice 10 – Protocolos de Pesaje 19 de abril de 2017</a>
        </p>
        <p>
            2019- ITF WORLD CHAMPIONSHIP APLICACIÓN PARA ÁRBITRO, INZELL, ALEMANIA
        </p>

        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/2019-ITF-world-Championship-Umpire-Registration-Form-Inzell-Germany-Revised-2-.xls">2019-ITF-world-Championship-Umpire-Registration-Form-Inzell-Germany Revised 2</a>
        </p>
        <p>
            ITF WORLD CUP REGLAMENTO (APRIL 24, 2006 – AMMENDED MARCH 22 , 2016)
        </p>

        <p>
            <a href="https://www.taekwondoitf.org/wp-content/uploads/2014/10/2016-World-Cup-Rules-Mar-22-1.pdf">2016 World Cup Rules (Mar 22)</a>
        </p>

    </div>

</main>