
@{
    ViewBag.Title = "Home";
}



<div class="alrazy-title title-Directivo" data-splitting>Bienvenido Directivo Sebastian!</div>
<script src="https://unpkg.com/splitting@1.0.0/dist/splitting.js"></script>
<script>Splitting();</script>
<br />
<h2 class="title-Directivo">Novedades</h2>

<div class="row portafolio" style="border-bottom:5px solid #009900">
    <div class="col">
        <div class="row" style="margin-top:3%">
            <div class="row galeria justify-content-center">
                <!-- Centrar en dispositivos moviles  -->
                <div class="contenedor-imagen col-6 col-lg-6">
                    <a href="#" data-toggle="modal" data-target="#modal">
                        <img src="~/img/img-11.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                    </a>
                </div>
                <div class="contenedor-imagen col-12 col-lg-6">
                    <a href="#" data-toggle="modal" data-target="#modal">
                        <img src="~/img/img-22.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                    </a>
                </div>
                <div class="contenedor-imagen col-12 col-lg-8">
                    <a href="#" data-toggle="modal" data-target="#modal">
                        <img src="~/img/img-33.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-4">
                    <a href="#" data-toggle="modal" data-target="#modal">
                        <img src="~/img/img-44.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-4">
                    <a href="#" data-toggle="modal" data-target="#modal">
                        <img src="~/img/img-55.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-4">
                    <a href="#" data-toggle="modal" data-target="#modal">
                        <img src="~/img/img-66.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                    </a>
                </div>
                <div class="contenedor-imagen col-6 col-lg-4">
                    <a href="#" data-toggle="modal" data-target="#modal">
                        <img src="~/img/img-77.jpg" class="img-fluid imagen" alt="">  <!-- img-fluid abarca el 100% -->
                    </a>
                </div>

                <!-- Ventana Modal -->
                <div class="modal fade" id="modal">
                    <div class="modal-dialog d-flex justify-content-center align-items-center">
                        <div class="modal-content">
                            <img src="img/img-1.jpg" alt="" id="imagen-modal" class="">
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>





